body{
    background: #BBDEFB;
    margin: 0px;

}

.calcbody{
    padding: 0px;
    margin: 75px auto;
   min-width: 400px;
    max-width: 400px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px #263238;

}

span{
    text-align: center;
font-family: "century gothic";  
font-size: 40px; 
 font-weight: bold;
color: #3E2723;
}

div  input:hover
   { 
     background: #5D4037;
     border-radius: 100px
   }

div  input:active
   { 
      background:#EEFFA8;
   }
   

div input
{
 background:    #331100;
    color:         white;   
}

div form input
 {
   width:         80px;
   height:        70px; 
   font-size:     50px; 
   border-radius: 8px;
   background:    #331100;
   color:         white;
   text-decoration: none;
 }




 h1
 {
 display:        inline-block;
 background:     #331100;
 color:          white;
 list-style-type: none;
 margin:         0px 70px 0px px;
    padding:        5px 25px 5px 25px;
 border-radius:  10px;
 font-size:      40px;
 }
 
 b
 {
   font-family:   Agency fb;
   color:         white;
   background-color: #331100;
   font-size:     30px;
   margin:        8px;
   height:        20px; 
   border-radius: 8px;
 }

#one{
    width:        328px; 
 height:       60px; 
 background:   #EEFFA8;
    color:        #331100; 
 text-align:   right; 
 font-size:    30px; 
 border-radius:8px;
 margin:       2px;  
 border-color: black;
    } 
   
#two
   {
    width:         163px; 
 height:        70px;
 font-size:     50px; 
 border-radius: 8px;
    margin:        0px;
   
   }

 .container{
    padding-right: 20px;
    background-color: #B0BEC5;
    text-align: right; 
    box-shadow: 2px 2px 2px #263238;
    text-align: center;
    color: #3E2723;
    
}
#one{
    text-align: right;  
    width: 320px;  
    height: 40px;  
    font-size: 22px;  
    border: none;
    color: black; 
    padding:5px;
}  */

